<h1>{{title}}</h1>
<app-logs-filter></app-logs-filter>
<div class="col-md-12 col-xs-12 ad-block"
      *ngFor="let item of adList"><!--(adList | async)?.reverse() -->
    <div class="col-md-3 col-xs-2">{{item.timestamp | date:'hh:mm:ss' }}</div>
    <div class="col-md-1 col-xs-1 adtype">
            <div class="col-md-1 col-xs-1 imageComponent" *ngIf="item.type === 'IMAGE'"></div>
            <div class="col-md-1 col-xs-1 videoComponent" *ngIf="item.type === 'VIDEO'"></div>
    </div>
    <div class="col-md-4 col-xs-2 adName">{{item.creative.name}}<a class="adlink" [href]="item.creative.url" target="blank"></a></div>
    <div class="col-md-2 col-xs-2 x">{{item.coordinates.x}}</div>
    <div class="col-md-2 col-xs-2 y">{{item.coordinates.y}}</div>
    
</div>
